# Actividad - Trabajando con DataFrames de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: pandas_df_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter
* Deben trabajar con el datasets adjunto a la actividad

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

In [5]:
import pandas as pd
import sqlite3

#Aqui agrega la conexión a la base de datos
conn = sqlite3.connect("Salaries.sqlite")

#Crea el dataframe con los datos del datasets
df = pd.read_sql_query("SELECT * FROM Salaries", conn)
conn.close()
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,None,567595.43,567595.43,2011,None,San Francisco,None
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,None,538909.28,538909.28,2011,None,San Francisco,None
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,None,335279.91,335279.91,2011,None,San Francisco,None
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,None,332343.61,332343.61,2011,None,San Francisco,None
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,None,326373.19,326373.19,2011,None,San Francisco,None

1. **Top 10 empleados con mayor salario total (incluyendo beneficios)**
Extrae e imprime un top 10 de expleados con mayor salario incluyendo los beneficios

In [ ]:
#todo
# se ordena TotalPayBenefits de mayor a menor
top10_empleados = df.sort_values(by="TotalPayBenefits", ascending=False).head(10)

# se muestra el resultado
print(top10_empleados[["EmployeeName", "TotalPayBenefits"]])

                EmployeeName  TotalPayBenefits
0             NATHANIEL FORD         567595.43
1               GARY JIMENEZ         538909.28
110531           David Shinn         510732.68
110532            Amy P Hart         479652.21
110533  William J Coaker Jr.         436224.36
72925         Gregory P Suhr         425815.28
72926   Joanne M Hayes-White         422353.40
110534        Gregory P Suhr         418019.22
110535  Joanne M Hayes-White         417435.10
110536       Ellen G Moffatt         415767.94

2. **Filtrar empleados con más de 50,000 en horas extra, la columna a tratar es: (OvertimePay)**

In [12]:
#todo
# tuve que convertir la columna OvertimePay a tipo numerico porque me daba error
df["OvertimePay"] = pd.to_numeric(df["OvertimePay"], errors="coerce")

# se filtran los empleados con mas de 50000 en horas extra
empleados_horas_extra = df[df["OvertimePay"] > 50000]

# se muestra el resultado
print(empleados_horas_extra[["EmployeeName", "OvertimePay"]])

              EmployeeName  OvertimePay
1             GARY JIMENEZ    245131.88
2           ALBERT PARDINI    106088.18
3        CHRISTOPHER CHONG     56120.71
6                ALSON LEE     89062.90
8           MICHAEL MORRIS     86362.68
...                    ...          ...
118288    Francisco A Arce     51625.42
118342    Felix Pagatpatan     52550.53
119450         Bobby Jones     50265.23
119607       Hung V Nguyen     74935.96
120204  Girma-Worku Zeleke     54738.36

[2165 rows x 2 columns]

3. **Contar cuántos empleados únicos hay por año**

In [16]:
#todo
# se agrupan los datos por año
grupo_por_anio = df.groupby("Year")

# se cuentan los empleados unicos por año
empleados_unicos_por_anio = grupo_por_anio["EmployeeName"].nunique()

# se muestra el resultado
print(empleados_unicos_por_anio)

Year
2011    33878
2012    34349
2013    36150
2014    36684
Name: EmployeeName, dtype: int64

4. **Ver cuántos cargos únicos (JobTitle) existen y los 5 más comunes**

In [ ]:
#todo

5. **Mostrar el salario total (TotalPay) promedio por año**

In [ ]:
#todo

6. **Exporta todos los datos a un CSV y muestra los ultimos 10 valores**

In [ ]:
#todo